@import "../../../styles/utils";

.content-wrapper {
  padding: 30px 0 ;
  @include for-tablet {
    padding: 30px 10px;
  }
}

.section {
  margin: 0 -$gutter;
  padding: 40px 0;
  @include for-tablet {
    margin: unset;
    padding: 40px 20px;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &-title {
    padding-bottom: 0;
  }

  &-content {
    padding-top: 0;
    padding-bottom: 0;
  }

  &-title-text {
    text-align: center;
    margin-bottom: 16px;
    font: {
      weight: 600;
      size: 31px;
    };
    letter-spacing: -0.4px;
    line-height: 37px;
  }
}
