<section class="section--gray">
  <app-content-section [section]="sections[0]">
    <app-tabs-link [tabsAccountPlans]="tabsAccountPlans"></app-tabs-link>
  </app-content-section>
</section>

<section class="section--content">
  <app-content-section [section]="sections[1]">
    <div class="flex-wrapper">
      <app-cards-select
        *ngFor="let cardSelect of plans"
        [cardSelect]="cardSelect"
      >
        <div>
          <app-options-list
            [optionsList]="optionsList"
            [optionsListRulers]="cardSelect.optionsListRules"
          ></app-options-list>
        </div>
      </app-cards-select>
    </div>
  </app-content-section>
</section>

