<section class="section--gray">
  <app-content-section [section]="sections[0]">
    <app-cards-select
      *ngFor="let cardSelect of plans"
      [cardSelect]="cardSelect"
    ></app-cards-select>
  </app-content-section>
</section>

<section>
  <app-content-section [section]="sections[1]">
    <div class="option-lists">
      <div *ngFor="let listRuler of optionsListRules" >
        <app-options-list
          [optionsList]="optionsList"
          [listRuler]="listRuler"
        ></app-options-list>
      </div>
    </div>
  </app-content-section>
</section>

