.container {
  margin: 0;
  padding: 0;
  position: relative;
}

.content {
  padding: 0 $gutter;
  margin: 0 auto;

  @include for-desktop {
    max-width: $desktop-max-width;
    margin: 0 auto;
    padding: 0 $desctop-content-padding;
  }
}
