<section class="section--gray">
  <app-content-section [section]="sections[0]">
    <app-button
      [text]="buttonOpenAccount.text"
      [path]="buttonOpenAccount.pathN26Metal"
    ></app-button>
  </app-content-section>
</section>

<section>
  <app-content-section [section]="sections[1]">
    <div class="option-lists">
      <div *ngFor="let listRuler of optionsListRules" >
        <app-options-list [listRuler]="listRuler"></app-options-list>
      </div>
    </div>
  </app-content-section>
</section>
