@import "../../../styles/utils";

.cards {
  &-wrapper {
    max-width: $card-select-max-width;
    padding: 30px;
    text-align: center;
  }

  &-title {
    text-align: center;
    font: {
      size: 25px;
      weight: 600;
    }
    letter-spacing: -0.4px;
    line-height: 29px;
    margin-bottom: 28px;
  }
}
