@import "../../../../styles/utils";

.buttons {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
}

.button{

  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
  }

  &-scroll {
    @include transition(200ms, 'opacity');
    opacity: 0.5;
  }
}
