$media-desktop: 1280px;
$media-tablet: 768px;
$media-phone: 320px;

$gutter: 20px;
$desktop-max-width: 1430px;
$desctop-content-padding: 40px;

$body-color: #1b1b1b;
$section-bc-gray: rgb(245, 245, 245);
$footer-bc-color: $section-bc-gray;
$shadow-default: rgb(0, 0, 0, 0.2);

$menu-hover-color: rgb(54, 161, 139);
$menu-hover-duration: 100ms;

$hover-duration: 300ms;

