@import "../../../../styles/utils";

.slider {
  overflow: hidden;
  &-wrapper {
    margin: 0 $gutter 20px $gutter;
    @include for-tablet {
      margin: 0 0 20px 0;
    }
  }
  &-viewer {
    //min-width: 100%;
    padding-bottom: 10px;
  }

  &-shadow {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow: hidden;
    box-shadow: rgb(116, 116, 116) 0px 45px 65px -40px;
    border-radius: 15px;
    margin: 0 10px;
    @include for-tablet {
      margin: 0;
    }
  }

  &-dotter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
  }

  &-img {
    min-width: 100%;
    @include transition($hover-duration, 'transform');
    border-radius: 4px;
  }
}
