<div class="slider-wrapper">
  <div class="slider-viewer">
    <div class="slider-shadow">
      <img
        [ngStyle]="shiftClass"
        class="slider-img"
        *ngFor="let cardImg of cardSlider; let i = index"
          [src]="cardImg.img"
          [alt]="cardImg.alt"
      >
    </div>
  </div>
  <div class="slider-dotter">
    <app-dot
      (eventDotSelect)="handlerDotSelect(i)"
      *ngFor="let dot of cardSlider; let i = index"
        [activeDot]="cardSlider.activeDot"
        [dot]="dot"
        [i]="i"
    ></app-dot>
  </div>
</div>
