@import "../../../../styles/utils";

.slider {
  &-wrapper {
    margin-bottom: 20px;
  }
  &-viewer {
    width: 100%;
    padding-bottom: 10px;
  }

  &-shadow {
    position: relative;
    display: flex;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: rgb(116, 116, 116) 0px 45px 65px -40px;
  }

  &-dotter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
  }

  &-img {
    width: 100%;
    left: 100%;
    @include transition($hover-duration, 'left');

    &--visible {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

