@import '../../../styles/utils';

.green-mark {
  position: relative;

  &:before {
    content: '';
    height: 8px;
    width: 8px;
    border-radius: 50%;
    position: absolute;
    right: -6px;
    top: -6px;
    background-color: rgb(54, 161, 139);
  }
}

.nav {
  @include for-desktop {
    margin: {
      left: 16px;
      right: 16px;
    };
  }

  &-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
  }

  &-item {
    outline: none;
    font-weight: 200;
    cursor: pointer;

    &:last-of-type {
      margin-right: 0;
    }

    @include transition-hover($menu-hover-duration, "color") {
      color: $menu-hover-color;
    }

    &--header {
      font-size: 16px;
      margin: 0 23px 0 5px;
      display: inline-block;
      line-height: 31px;
    }

    &--footer {
      font-size: 13px;
      margin: 10px 0 10px 0;
    }
  }

  &-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;

    .nav-item {
      font-size: 1.5em;
      margin: 0;
      padding: 15px 0;
      text-align: center;
      border-top: 1px $border-color solid;
    }

    .green-mark {
      position: relative;

      &:before {
        height: 9px;
        width: 9px;
        position: absolute;
        right: 35%;
        top: 12px;
      }
    }
  }
}
