@import '../../../styles/utils';

.nav {

  @include for-desktop {
    margin: {
      left: 16px;
      right: 16px;
    };
  }

  &-item {
    outline: none;
    font-weight: 200;
    cursor: pointer;

    &:last-of-type {
      margin-right: 0;
    }

    @include transition-hover($menu-hover-duration, "color") {
      color: $menu-hover-color;
    }
  }
}

.green-mark {
  position: relative;

  &:before {
    content: '';
    height: 8px;
    width: 8px;
    border-radius: 50%;
    position: absolute;
    right: -6px;
    top: -6px;
    background-color: rgb(54, 161, 139);

  }
}
