@import "../../../styles/utils";
.section-footer {
  background-color: $footer-bc-color;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font: {
    size: 13px;
    weight: 200;
  }

  @include for-tablet {
    padding: 30px $desctop-content-padding;
  }
}
