.tabs-link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab{
  &-item {
    display: inline-block;
    position: relative;
    outline: none;
    cursor:pointer;
    font-size:18px;
    line-height:30px;
    margin: 0 20px;
    text-decoration-style:solid;
    text-size-adjust:100%;
    width:auto;
  }

  &-active {
    border-bottom: 3px solid rgb(42, 126, 109);
  }
}
