@import "./styles/utils";
@import "styles/bloks";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
  color: $body-color;
  background-color: #fff;
  font: {
    family: Arial, sans-serif;
    size: 14px;
    style: normal;
    weight: normal;
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  dispLay: block;
  min-height: 100vh;
  padding-bottom: 90px;

  padding-top: 60px;
  @include for-desktop {
    padding-top: 70px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

a {
  color: $body-color;
  text-decoration: none;
}

p.empty-page {
  width: 75vw;
  position: absolute;
  left: 50vw;
  top: 35vh;
  transform: translate(-50%, -50%);
  text-align: center;

  color: darkolivegreen;
  text-transform: capitalize;
  font: {
    weight: 600;
    size: 70px;
  }
}

.flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
  @include for-tablet {
    flex-wrap: nowrap;
  }
}
